/**
 * @Author: Ali
 * @Date:   2019-01-23T16:46:40+01:00
 * @Last modified by:   Ali
 * @Last modified time: 2019-02-14T11:58:46+01:00
 */

.App {
  text-align: center;
}

.question{
  font-size: 38px;
  font-family:fantasy;
  font-weight: bold;
  text-decoration-color: red;
}
.options {
  font-size: 30px;
  border: none;

}
li {
  list-style: none;
  padding: 25px;
  margin: 30px;
  background-color: #bdc3c7;
  box-shadow: 10px 10px 5px black;
  border-radius: 15px;
}
.incorrect {
  background-color: red;
}
