/**
 * @Author: Ali
 * @Date:   2019-01-23T16:46:40+01:00
 * @Last modified by:   Ali
 * @Last modified time: 2019-01-23T17:22:38+01:00
 */

.App {
  text-align: center;
}
.quiz {
  border: 5px solid blue
}
.question{
  border: 5px solid red

}
