/**
 * @Author: Ali
 * @Date:   2019-01-23T16:46:40+01:00
 * @Last modified by:   Ali
 * @Last modified time: 2019-02-21T08:59:56+01:00
 */

.App {
  text-align: center;
}

.question{
  font-size: 38px;
  font-family:fantasy;
  font-weight: bold;
}
.options {
  font-size: 30px;
  border: none;
border: 2px solid black;
}
li {
  list-style: none;
  padding: 25px;
  margin: 30px;
  background-color: #bdc3c7;
  box-shadow: 10px 10px 5px black;
  border-radius: 15px;
}
.incorrect {
  background-color: red;
}
.finish {
  text-align: center;
  color: white;
  background: radial-gradient(#dfe6e9, #2d3436);
  font-size: 42px;
  margin-top: 250px;
  padding: 50px;
  box-shadow: 10px 10px 5px black;
  border: 2px solid red;
}
